@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Montserrat:wght@300;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a,p,h1,h2,h3,h4,h5{
    font-family: 'Montserrat','Do Hyeon', sans-serif;
    color: black;
}

ul,li{
    list-style: none;
}

a{
    text-decoration: none;
}
.text-w{
  color: white  
}

input:focus,textarea:focus{
    /* outline: none; */
}
input,textarea{
    border: none;
}